.cp_button {
    color: blue;
    cursor: pointer;
}

.cp_button.disabled {
    color: gray;
    cursor: not-allowed;
}

.cp_button:hover {
    color: cyan;
}

.cp_button.disabled:hover {
    color: gray;
}

body {
    width: 120pt;

}

.box ol {
    list-style-type: square;
}

.box li {
    padding: 2px;
}